# nginx proxy address - http://172.17.0.1:59000

name: mailu
x-logging: &default-logging
  options:
    max-size: '5m'
    max-file: '1'
  driver: json-file

x-env: &default-env
  TZ: ${TZ:-America/New_York}
  SECRET_KEY: ${APP_SECRET_KEY:-changeme_secret_key}
  SUBNET: ${IPV4_NETWORK:-10.1.1.0/24}
  DOMAIN: ${BASE_DOMAIN_NAME:-${BASE_HOST_NAME}}
  HOSTNAMES: ${BASE_HOST_NAME:-$HOSTNAME}
  POSTMASTER: ${APP_ADMIN_USER:-admin}
  ADMIN_PASSWORD: ${APP_ADMIN_PASS:-changeme_admin_password}
  WEB_ADMIN: /admin
  WEB_WEBMAIL: /webmail
  WEBMAIL: snappymail
  WEBDAV: radicale
  WEBSITE: https://${BASE_HOST_NAME:-$HOSTNAME}

services:
  # External dependencies

  # Core services
  front:
    image: ghcr.io/mailu/nginx:latest
    restart: always
    environment: *default-env
    logging: *default-logging
    ports:
      - '25:25'
      - '465:465'
      - '587:587'
      - '110:110'
      - '995:995'
      - '143:143'
      - '993:993'
      - '4190:4190'
      - '172.17.0.1:59000:443'
    networks:
      - default
      - webmail
      - radicale
    volumes:
      - './rootfs/data/certs:/certs'
      - './rootfs/data/nginx:/overrides:ro'
    depends_on:
      - resolver
    dns:
      - 10.1.1.254

  resolver:
    image: ghcr.io/mailu/unbound:latest
    environment: *default-env
    logging: *default-logging
    restart: always
    networks:
      default:
        ipv4_address: 10.1.1.254

  admin:
    image: ghcr.io/mailu/admin:latest
    restart: always
    environment: *default-env
    logging: *default-logging
    volumes:
      - './rootfs/data/data:/data'
      - './rootfs/data/dkim:/dkim'
    depends_on:
      - redis
      - resolver
    dns:
      - 10.1.1.254

  imap:
    image: ghcr.io/mailu/dovecot:latest
    restart: always
    environment: *default-env
    logging: *default-logging
    volumes:
      - './rootfs/data/mail:/mail'
      - './rootfs/data/dovecot:/overrides:ro'
    networks:
      - default
      - fts_attachments
    depends_on:
      - front
      - fts_attachments
      - resolver
    dns:
      - 10.1.1.254

  smtp:
    image: ghcr.io/mailu/postfix:latest
    restart: always
    environment: *default-env
    logging: *default-logging
    volumes:
      - './rootfs/data/mailqueue:/queue'
      - './rootfs/data/postfix:/overrides:ro'
    depends_on:
      - front
      - resolver
    dns:
      - 10.1.1.254

  oletools:
    image: ghcr.io/mailu/oletools:latest
    hostname: oletools
    restart: always
    networks:
      - oletools
    depends_on:
      - resolver
    dns:
      - 10.1.1.254

  fts_attachments:
    image: apache/tika:2.9.2.1-full
    hostname: tika
    restart: always
    networks:
      - fts_attachments
    depends_on:
      - resolver
    dns:
      - 10.1.1.254
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'wget -nv -t1 -O /dev/null http://127.0.0.1:9998/tika || exit 1',
        ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s

  antispam:
    image: ghcr.io/mailu/rspamd:latest
    hostname: antispam
    restart: always
    environment: *default-env
    logging: *default-logging
    networks:
      - default
      - oletools
      - clamav
    volumes:
      - './rootfs/data/rspamd:/overrides:ro'
      - './rootfs/data/filter:/var/lib/rspamd'
    depends_on:
      - front
      - redis
      - oletools
      - antivirus
      - resolver
    dns:
      - 10.1.1.254

  # Optional services
  antivirus:
    image: clamav/clamav-debian:1.2.3-45
    restart: always
    networks:
      - clamav
    volumes:
      - './rootfs/data/filter/clamav:/var/lib/clamav'
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'kill -0 `cat /tmp/clamd.pid` && kill -0 `cat /tmp/freshclam.pid`',
        ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s

  webdav:
    image: ghcr.io/mailu/radicale:latest
    restart: always
    volumes:
      - './rootfs/data/dav:/data'
    networks:
      - radicale

  fetchmail:
    image: ghcr.io/mailu/fetchmail:latest
    restart: always
    environment: *default-env
    volumes:
      - '/data/data/fetchmail:/data'
    depends_on:
      - admin
      - smtp
      - imap
      - resolver
    dns:
      - 10.1.1.254

  # Webmail
  webmail:
    image: ghcr.io/mailu/webmail:latest
    restart: always
    environment: *default-env
    logging: *default-logging
    volumes:
      - './rootfs/data/webmail:/data'
      - './rootfs/data/snappymail:/overrides:ro'
    networks:
      - webmail
    depends_on:
      - front

  redis:
    image: redis:alpine
    restart: always
    volumes:
      - './rootfs/db/redis/mailu:/data'
    depends_on:
      - resolver
    dns:
      - 10.1.1.254

networks:
  default:
    enable_ipv6: true
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 10.1.1.0/24
        - subnet: fdab:03bb:c928:beef::/64
  radicale:
    driver: bridge
  webmail:
    driver: bridge
  clamav:
    driver: bridge
  oletools:
    driver: bridge
    internal: true
  fts_attachments:
    driver: bridge
    internal: true
